[user]
	name = John Madden
	email = john@example.com
[color]
	ui = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	st = status
	co = commit
	ch = checkout
	ls = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s" --decorate --date=short --graph
	lsa = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --numstat
