[submodule "git/submodules/dotbot"]
	path = git/submodules/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "git/submodules/spoons"]
	path = git/submodules/spoons
	url = https://github.com/Hammerspoon/Spoons
[submodule "git/submodules/tpm"]
	path = git/submodules/tpm
	url = https://github.com/tmux-plugins/tpm
