snippet header "Define comment header."
--------------------------------------------------------------------------------
-- ${0:Installed Plugins}
--------------------------------------------------------------------------------
endsnippet

snippet ray "Dump to Ray."
Ray($0)
endsnippet
