snippet header "Define comment header."
--------------------------------------------------------------------------------
-- ${0:Installed Plugins}
--------------------------------------------------------------------------------
endsnippet

snippet ray "Dump to Ray."
Ray($0)
endsnippet

snippet map "Lua nmap."
vim.keymap.set('${1:n}', '$2', '$0')
endsnippet

snippet macro "Lua macro mapping."
vim.keymap.set('${1:n}', '$2', '$0', { remap = true })
endsnippet
