; Compiles to `~/.config/karabiner/karabiner.json with `goku` (or watch with `gokuw`)
{
  :main [
    {:des "CAPS+hjkl as arrows (ESC if alone)" :rules [
      [:##caps_lock ["caps_as_modifier" 1] nil {:afterup ["caps_as_modifier" 0] :alone :escape}]
      [:##h :left_arrow ["caps_as_modifier" 1]]
      [:##j :down_arrow ["caps_as_modifier" 1]]
      [:##k :up_arrow ["caps_as_modifier" 1]]
      [:##l :right_arrow ["caps_as_modifier" 1]]
      [:##caps_lock :escape]
    ]}
    {:des "D+F as Hyper (CMD+OPT+CTRL)" :rules [
      [[:d :f] :!COleft_control]
    ]}
    {:des "S+D+F as Big Hyper (CMD+OPT+CTRL)" :rules [
      [[:s :d :f] :!SCOleft_control]
    ]}
  ]
}
