; Compiles to `~/.config/karabiner/karabiner.json with `goku` (or watch with `gokuw`)
{
  :main [
    {:des "CAPS+hjkl as arrows (ESC if alone)" :rules [
      [:##caps_lock ["caps_as_modifier" 1] nil {:afterup ["caps_as_modifier" 0] :alone :escape}]
      [:##h :left_arrow ["caps_as_modifier" 1]]
      [:##j :down_arrow ["caps_as_modifier" 1]]
      [:##k :up_arrow ["caps_as_modifier" 1]]
      [:##l :right_arrow ["caps_as_modifier" 1]]
      [:##caps_lock :escape]
    ]}
    {:des "Both SHIFT keys toggles CAPS lock" :rules [
      [:!S#Pright_shift :caps_lock]
      [:!R#Pleft_shift :caps_lock]
    ]}
    {:des "D+F as Hyper (CMD+OPT+CTRL)" :rules [
      [[:d :f] :!COleft_control]
    ]}
  ]
}
